<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="FILE" class="RollingFileAppender">
        <file>logs/app.log</file>
        <immediateFlush>false</immediateFlush>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>logs/app_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyMMddHHmmss} %-5level [%thread] %-16.16logger{5} %X{uid:-ND} : %msg%n%ex{short}</pattern>
        </encoder>
        <filter class="ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="ASYNC" class="AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%black(%d{yyMMddHHmmss}) %highlight(%-5level) %magenta([%thread] %-16.16logger{5}) %yellow(%X{uid:-ND}) : %boldCyan(%msg%n%ex{short})</pattern>
        </encoder>
        <filter class="ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
